openapi: 3.0.3

info:
  title: Nextcloud Deployer API
  description: |
    API REST orquestradora (Laravel) que delega o provisionamento e a gestão de instâncias
    Nextcloud para o sistema upstream `nextcloud-saas-manager` (Bash scripts + Redis worker)
    via SSH (`nextcloud-manage ... --async`) + Webhook HMAC-SHA256.

    Esta API valida entradas, mantém réplica local de customers/jobs, audita operações
    (LGPD, retenção 12 meses) e expõe os endpoints REST descritos abaixo. A lógica de
    OCC, Docker e SSH para a instância Nextcloud vive no servidor scripts; esta API
    NÃO implementa Nextcloud nativamente.

    ## Autenticação
    Todos os endpoints, exceto `GET /` e `GET /health`, exigem um Bearer token no header
    `Authorization` (tokens gerados e revogados pelo painel admin em `/api-keys`).
    Painel admin interno usa sessão Laravel separada (não via Bearer).

    ## Convenções de slug (customer)
    - Pattern: `^[a-z0-9-]+$` (apenas letras minúsculas, dígitos e hífen)
    - Tamanho: 3 a 64 caracteres
    - Underscore (`_`) é **rejeitado com 422** antes de qualquer SSH (sem normalização)
    - Alinhado com o contrato CLI do `nextcloud-saas-manager` (CONTRACTS.md C-1)

    ## Formato das respostas
    **Sucesso:** `{ "success": true, "message": "...", "data": {} }`
    **Erro:** `{ "success": false, "message": "...", "errors": {} }`

    ## Jobs assíncronos
    A maioria das operações de escrita estrutural é delegada via SSH ao `nextcloud-manage ... --async`
    do upstream e retorna HTTP **202** com `job_id` (UUID v4) em <2s. A API sincroniza
    estado via webhook HMAC-SHA256 (caminho preferido) ou polling SSH (fallback após 60s).
    Use `GET /queue/{id}` para acompanhar o status na réplica local.

    ## Readiness pós-provision (ISSUE-010)
    O callback upstream de `provision success` não garante que o subsistema de usuários
    esteja pronto (~5–15 min de configuração interna). Após o webhook, o customer fica em
    `provisioning_finishing` até um probe SSH (`occ-exec user:list`) confirmar readiness.
    Enquanto `status` ∈ `{provisioning, provisioning_finishing}`, `POST/DELETE .../users`
    retorna **503** `{error: tenant_not_ready}` com header `Retry-After: 60`.
    `groups:*` e `apps:*` permanecem disponíveis nessa janela.

    ## Anexos binários (logo, background)
    - ≤ 256KB: inline via base64 (`logo_data_url`, `background_data_url`)
    - \> 256KB: SCP staging para `/opt/nextcloud-customers/inbox/<staging-id>/` antes do SSH

    **Content-Type:** `application/json`
    **CORS:** `Access-Control-Allow-Origin: *` (inclui `OPTIONS`).
  version: "2.3"
  contact:
    name: newwork360

servers:
  - url: https://deployer.mework360.com.br
    description: Servidor de desenvolvimento / produção

security:
  - bearerAuth: []

tags:
  - name: Public
    description: Endpoints sem autenticação
  - name: Customers
    description: Provisionamento e remoção de instâncias Nextcloud (jobs assíncronos)
  - name: Users
    description: Gestão de usuários dentro de uma instância (via fila)
  - name: Groups
    description: Gestão de grupos dentro de uma instância (via fila)
  - name: Apps
    description: Habilitar / desabilitar apps dentro de uma instância (via fila)
  - name: Queue
    description: Consulta e gestão da fila global de jobs
  - name: OCC
    description: Operações síncronas via OCC (SSH + php occ na instância do cliente)

# ============================================================
# PATHS
# ============================================================
paths:
  # ----------------------------------------------------------
  # Public
  # ----------------------------------------------------------

  /:
    get:
      tags: [Public]
      summary: API info
      description: Catálogo resumido dos endpoints disponíveis.
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiInfo"

  /health:
    get:
      tags: [Public]
      summary: Health check
      description: |
        Verifica conexão com o banco e existência do script `create-customer` em `SCRIPTS_PATH`.
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /debug/php:
    get:
      tags: [Public]
      summary: Debug PHP info
      description: Retorna informações de debug do PHP. Disponível somente quando `API_DEBUG` está ativo.
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  # ----------------------------------------------------------
  # Customers
  # ----------------------------------------------------------

  /customers:
    post:
      tags: [Customers]
      summary: Criar customer (deploy Nextcloud)
      description: |
        Enfileira um job de deploy completo de uma nova instância Nextcloud.
        O logo é opcional e enviado no **mesmo** body JSON via `logo_png_base64`.
        Os campos `apps` e `full_apps` são mutuamente exclusivos.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCustomerRequest"
            examples:
              minimal:
                summary: Sem apps extras
                value:
                  customer: empresaabc
                  server: "172.17.0.2"
              com_apps:
                summary: Apps selecionados
                value:
                  customer: empresaabc
                  server: "172.17.0.2"
                  apps: [calendar, contacts, spreed]
              full_apps:
                summary: Todos os apps
                value:
                  customer: empresaabc
                  server: "172.17.0.2"
                  full_apps: true
              com_logo:
                summary: Apps e logo
                value:
                  customer: empresaabc
                  server: "172.17.0.2"
                  apps: [calendar, contacts, spreed]
                  logo_png_base64: "data:image/png;base64,iVBORw0KGgo..."
      responses:
        "202":
          $ref: "#/components/responses/JobAccepted"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /customers/{customer}:
    delete:
      tags: [Customers]
      summary: Remover customer
      description: Enfileira um job de remoção da instância Nextcloud.
      parameters:
        - $ref: "#/components/parameters/customer"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  description: Força remoção mesmo com usuários ativos.
                  default: false
                backup:
                  type: boolean
                  description: Realiza backup antes de remover.
                  default: false
      responses:
        "202":
          $ref: "#/components/responses/JobAccepted"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /customers/{customer}/jobs:
    get:
      tags: [Customers]
      summary: Listar jobs do customer
      description: Retorna todos os jobs da fila associados a um customer.
      parameters:
        - $ref: "#/components/parameters/customer"
        - name: status
          in: query
          description: Filtrar por status do job.
          schema:
            $ref: "#/components/schemas/JobStatus"
      responses:
        "200":
          description: Lista de jobs
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Job"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ----------------------------------------------------------
  # Users (async)
  # ----------------------------------------------------------

  /customers/{customer}/users:
    post:
      tags: [Users]
      summary: Criar usuário (fila)
      description: Enfileira criação de usuário na instância Nextcloud.
      parameters:
        - $ref: "#/components/parameters/customer"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserRequest"
      responses:
        "202":
          $ref: "#/components/responses/JobAccepted"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "503":
          $ref: "#/components/responses/TenantNotReady"

  /customers/{customer}/users/{username}:
    delete:
      tags: [Users]
      summary: Remover usuário (fila)
      parameters:
        - $ref: "#/components/parameters/customer"
        - $ref: "#/components/parameters/username"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  default: false
      responses:
        "202":
          $ref: "#/components/responses/JobAccepted"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/TenantNotReady"

    patch:
      tags: [Users]
      summary: Modificar usuário (fila)
      description: |
        Pelo menos um campo de alteração deve ser informado:
        `password`, `add_groups`, `remove_groups`, `quota`, `displayname`, `email`,
        `enable`, `disable`, `subadmin`, `remove_subadmin`, `resend_welcome`.
      parameters:
        - $ref: "#/components/parameters/customer"
        - $ref: "#/components/parameters/username"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModifyUserRequest"
      responses:
        "202":
          $ref: "#/components/responses/JobAccepted"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  # ----------------------------------------------------------
  # Groups (async)
  # ----------------------------------------------------------

  /customers/{customer}/groups:
    post:
      tags: [Groups]
      summary: Criar grupo (fila)
      parameters:
        - $ref: "#/components/parameters/customer"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGroupRequest"
      responses:
        "202":
          $ref: "#/components/responses/JobAccepted"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /customers/{customer}/groups/{group}:
    delete:
      tags: [Groups]
      summary: Remover grupo (fila)
      parameters:
        - $ref: "#/components/parameters/customer"
        - $ref: "#/components/parameters/group"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  default: false
      responses:
        "202":
          $ref: "#/components/responses/JobAccepted"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      tags: [Groups]
      summary: Modificar grupo (fila)
      description: Renomeia o grupo e/ou retorna informações sobre ele.
      parameters:
        - $ref: "#/components/parameters/customer"
        - $ref: "#/components/parameters/group"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModifyGroupRequest"
      responses:
        "202":
          $ref: "#/components/responses/JobAccepted"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /customers/{customer}/groups/{group}/users:
    post:
      tags: [Groups]
      summary: Adicionar usuário a um grupo (BLOQUEADO upstream — retorna 501)
      description: |
        Endpoint reservado para `groups:add` (membership management). O upstream
        `nextcloud-saas-manager` v12.3.0 ainda não implementou os verbs
        `group add-user`/`group remove-user` (sprints D3/D4 pendentes). Por
        isso, este endpoint responde sempre HTTP 501 com payload estruturado
        — o tradutor `JobTypeTranslator::cmdToCliArgv()` short-circuita ANTES
        de qualquer escrita em DB ou chamada SSH (defensive contract verificado
        em testes).
      parameters:
        - $ref: "#/components/parameters/customer"
        - $ref: "#/components/parameters/group"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username:
                  type: string
                  example: johndoe
      responses:
        "501":
          $ref: "#/components/responses/NotImplementedYet"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /customers/{customer}/groups/{group}/users/{username}:
    delete:
      tags: [Groups]
      summary: Remover usuário de um grupo (BLOQUEADO upstream — retorna 501)
      description: |
        Espelha `POST /groups/{group}/users` para o verb `groups:remove`. Mesma
        rationale: `nextcloud-saas-manager` ainda não entregou o verb upstream;
        retorna 501 estruturado.
      parameters:
        - $ref: "#/components/parameters/customer"
        - $ref: "#/components/parameters/group"
        - name: username
          in: path
          required: true
          schema:
            type: string
            example: johndoe
      responses:
        "501":
          $ref: "#/components/responses/NotImplementedYet"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  # ----------------------------------------------------------
  # Apps (async)
  # ----------------------------------------------------------

  /customers/{customer}/apps/enable:
    post:
      tags: [Apps]
      summary: Habilitar apps (fila — CSV consolidado em 1 job)
      description: |
        Recebe a lista de apps e dispara **um único job upstream** com a lista
        consolidada via CSV (`<apps_csv>`). Diferente do contrato pré-F5, que
        respondia `JobAccepted` (envelope `{data: Job}`), agora o payload é
        plano: `{job_id, apps_csv}`.
      parameters:
        - $ref: "#/components/parameters/customer"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppOperationRequest"
      responses:
        "202":
          description: Job enfileirado (1 job único — CSV positional no argv upstream)
          content:
            application/json:
              schema:
                type: object
                required: [job_id, apps_csv]
                properties:
                  job_id:
                    type: string
                    format: uuid
                    example: "e3a5f7d2-1c4b-4a3f-b1f0-1d4f8c2e6a9b"
                  apps_csv:
                    type: string
                    description: Lista de apps consolidada em CSV (preserva ordem de input).
                    example: "calendar,contacts,mail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "502":
          description: Upstream falhou ao processar a chamada SSH
          content:
            application/json:
              schema:
                type: object
                required: [error, exit_code, apps_csv]
                properties:
                  error:
                    type: string
                    example: upstream_failed
                  exit_code:
                    type: integer
                    description: exit_code retornado pelo `nextcloud-manage`.
                    example: 1
                  apps_csv:
                    type: string
                    example: "calendar,contacts,mail"
        "503":
          $ref: "#/components/responses/ClusterUnreachable"

  /customers/{customer}/apps/disable:
    post:
      tags: [Apps]
      summary: Desabilitar apps (fila — CSV consolidado em 1 job)
      description: |
        Espelha `apps/enable` no contrato pós-F5: 1 job único com CSV positional.
        Aceita campo opcional `remove` para também remover o app além de desabilitar.
      parameters:
        - $ref: "#/components/parameters/customer"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/AppOperationRequest"
                - type: object
                  properties:
                    remove:
                      type: boolean
                      description: Remove o app além de desabilitá-lo.
                      default: false
      responses:
        "202":
          description: Job enfileirado (1 job único — CSV positional no argv upstream)
          content:
            application/json:
              schema:
                type: object
                required: [job_id, apps_csv]
                properties:
                  job_id:
                    type: string
                    format: uuid
                  apps_csv:
                    type: string
                    example: "calendar,contacts,mail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "502":
          description: Upstream falhou ao processar a chamada SSH
          content:
            application/json:
              schema:
                type: object
                required: [error, exit_code, apps_csv]
                properties:
                  error:
                    type: string
                    example: upstream_failed
                  exit_code:
                    type: integer
                    example: 1
                  apps_csv:
                    type: string
        "503":
          $ref: "#/components/responses/ClusterUnreachable"

  # ----------------------------------------------------------
  # Queue
  # ----------------------------------------------------------

  /queue:
    get:
      tags: [Queue]
      summary: Listar jobs
      parameters:
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/JobStatus"
        - name: customer
          in: query
          schema:
            type: string
        - name: job_type
          in: query
          schema:
            type: string
            enum:
              - create-customer
              - remove-customer
              - create-user
              - remove-user
              - modify-user
              - create-group
              - remove-group
              - modify-group
              - enable-app
              - disable-app
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: Lista de jobs
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Job"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /queue/stats:
    get:
      tags: [Queue]
      summary: Estatísticas da fila
      responses:
        "200":
          description: Estatísticas
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          pending:
                            type: integer
                          running:
                            type: integer
                          done:
                            type: integer
                          failed:
                            type: integer
                          total:
                            type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"

  /queue/{id}:
    get:
      tags: [Queue]
      summary: Detalhe de um job
      parameters:
        - $ref: "#/components/parameters/jobId"
      responses:
        "200":
          description: Job encontrado
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Job"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [Queue]
      summary: Cancelar job pendente
      description: Cancela um job com status `pending`.
      parameters:
        - $ref: "#/components/parameters/jobId"
      responses:
        "200":
          description: Job cancelado
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          job_id:
                            type: integer
                          status:
                            type: string
                            example: cancelled
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ----------------------------------------------------------
  # OCC – operações síncronas por customer
  # ----------------------------------------------------------

  /customers/{customer}/occ/branding:
    put:
      tags: [OCC]
      summary: Atualizar theming / identidade visual (OCC passthrough)
      description: |
        Delega `occ-exec theming:config <key> <value>` via SSH síncrono.
        Campos opcionais; apenas chaves presentes e não vazias são enviadas.

        **Upstream atual (ISSUE-016):** `theming:config` está fora da allowlist
        `occ-exec` — resposta esperada **403** `occ_subcmd_not_allowed` (exit 16)
        até expansão da allowlist upstream (#22) ou verbo de domínio alternativo.
      parameters:
        - $ref: "#/components/parameters/customer"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                color:
                  type: string
                  pattern: "^#[0-9a-fA-F]{6}$"
                url:
                  type: string
                  format: uri
                slogan:
                  type: string
                  maxLength: 255
                imprintUrl:
                  type: string
                  format: uri
                privacyUrl:
                  type: string
                  format: uri
      responses:
        "200":
          description: Branding atualizado (quando upstream permitir o subcmd)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/OccSubcmdNotAllowed"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "503":
          $ref: "#/components/responses/ClusterUnreachable"
        "504":
          description: Timeout SSH (occ_timeout)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: occ_timeout
    post:
      tags: [OCC]
      summary: Atualizar theming / identidade visual (OCC)
      description: |
        Todos os campos são **opcionais**; apenas chaves presentes e não vazias são aplicadas.

        | Campo JSON    | Comando OCC                                      |
        |---------------|--------------------------------------------------|
        | instanceName  | `config:system:set instance_name`                |
        | color         | `config:app:set theming color`                   |
        | logo          | `theming:config logo` (URL ou caminho no servidor)|
        | logoHeader    | `theming:config logoheader`                      |
        | background    | `theming:config background`                      |
        | imprintUrl    | `config:app:set theming imprintUrl`              |
        | privacyUrl    | `config:app:set theming privacyUrl`              |

        A resposta inclui `data.results` com a lista de chaves aplicadas.
      parameters:
        - $ref: "#/components/parameters/customer"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BrandingRequest"
      responses:
        "200":
          description: Branding atualizado
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          success:
                            type: boolean
                          results:
                            type: array
                            items:
                              type: string
                            description: Lista de chaves aplicadas.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /customers/{customer}/occ/users:
    post:
      tags: [OCC]
      summary: Criar usuário (OCC)
      description: Cria usuário diretamente via `occ user:add` (síncrono).
      parameters:
        - $ref: "#/components/parameters/customer"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OccCreateUserRequest"
      responses:
        "200":
          description: Usuário criado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /customers/{customer}/occ/users/{username}:
    patch:
      tags: [OCC]
      summary: Atualizar quota do usuário (OCC)
      parameters:
        - $ref: "#/components/parameters/customer"
        - $ref: "#/components/parameters/username"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QuotaRequest"
      responses:
        "200":
          description: Quota atualizada
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

    delete:
      tags: [OCC]
      summary: Remover usuário (OCC)
      parameters:
        - $ref: "#/components/parameters/customer"
        - $ref: "#/components/parameters/username"
      responses:
        "200":
          description: Usuário removido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /customers/{customer}/occ/users/{username}/quota:
    get:
      tags: [OCC]
      summary: Obter quota do usuário (OCC)
      parameters:
        - $ref: "#/components/parameters/customer"
        - $ref: "#/components/parameters/username"
      responses:
        "200":
          description: Quota do usuário
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          quota:
                            type: string
                            example: "5 GB"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /customers/{customer}/occ/groups:
    post:
      tags: [OCC]
      summary: Criar grupo (OCC)
      parameters:
        - $ref: "#/components/parameters/customer"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OccCreateGroupRequest"
      responses:
        "200":
          description: Grupo criado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /customers/{customer}/occ/apps/{appId}/enable:
    post:
      tags: [OCC]
      summary: Habilitar app (OCC)
      parameters:
        - $ref: "#/components/parameters/customer"
        - name: appId
          in: path
          required: true
          schema:
            type: string
            example: richdocuments
      responses:
        "200":
          description: App habilitado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /customers/{customer}/occ/files/rescan:
    post:
      tags: [OCC]
      summary: Rescan de arquivos (OCC)
      description: |
        Se `userId` for informado, escaneia apenas os arquivos desse usuário.
        Caso contrário, `all: true` (default) escaneia todos os usuários.
      parameters:
        - $ref: "#/components/parameters/customer"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                all:
                  type: boolean
                  description: Força rescan de todos os usuários.
                  default: true
                userId:
                  type: string
                  description: Escaneia apenas os arquivos deste usuário (se informado).
      responses:
        "200":
          description: Rescan concluído
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /customers/{customer}/occ/maintenance:
    post:
      tags: [OCC]
      summary: Alternar modo de manutenção (OCC)
      description: |
        Body JSON usa campo `on` (boolean). Upstream recebe `occ-exec maintenance:mode`
        com argv canônico `--on` ou `--off` (não positional `on`/`off`).

        **Upstream atual (ISSUE-016):** `maintenance:mode` está fora da allowlist —
        resposta esperada **403** `occ_subcmd_not_allowed` (exit 16).
      parameters:
        - $ref: "#/components/parameters/customer"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [on]
              properties:
                on:
                  description: "`true` para ativar (`--on`), `false` para desativar (`--off`)."
                  type: boolean
                  example: true
      responses:
        "200":
          description: Modo de manutenção alterado (quando upstream permitir o subcmd)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/OccSubcmdNotAllowed"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "503":
          $ref: "#/components/responses/ClusterUnreachable"
        "504":
          description: Timeout SSH (occ_timeout)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: occ_timeout

  # ---------- OCC Quotas (mutativos — allowlist upstream ISSUE-016) ----------

  /customers/{customer}/occ/quota/all:
    put:
      tags: [OCC]
      summary: Definir quota para todos os usuários (OCC — não suportado)
      description: |
        Short-circuit local: `user:setting --all` não está na allowlist do
        `occ-exec` upstream. Sempre retorna **501** `occ_subcmd_not_supported`.
        Use `PUT .../occ/quota/{username}` usuário-a-usuário enquanto D-02/#ARCH-7
        não definir caminho alternativo.
      parameters:
        - $ref: "#/components/parameters/customer"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QuotaRequest"
      responses:
        "501":
          $ref: "#/components/responses/OccSubcmdNotSupported"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /customers/{customer}/occ/quota/{username}:
    put:
      tags: [OCC]
      summary: Definir quota de um usuário (OCC passthrough)
      description: |
        Delega `occ-exec user:setting <username> files quota <valor>`.

        **Upstream atual (ISSUE-016):** `user:setting` está fora da allowlist —
        resposta esperada **403** `occ_subcmd_not_allowed` (exit 16).
      parameters:
        - $ref: "#/components/parameters/customer"
        - $ref: "#/components/parameters/username"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QuotaRequest"
      responses:
        "200":
          description: Quota atualizada (quando upstream permitir o subcmd)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/OccSubcmdNotAllowed"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "503":
          $ref: "#/components/responses/ClusterUnreachable"
        "504":
          description: Timeout SSH (occ_timeout)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: occ_timeout

  /customers/{customer}/occ/quota/default:
    get:
      tags: [OCC]
      summary: Obter quota padrão (OCC)
      parameters:
        - $ref: "#/components/parameters/customer"
      responses:
        "200":
          description: Quota padrão
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          quota:
                            type: string
                            example: "10 GB"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    post:
      tags: [OCC]
      summary: Definir quota padrão (OCC — legado POST; implementação usa PUT)
      deprecated: true
      parameters:
        - $ref: "#/components/parameters/customer"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QuotaRequest"
      responses:
        "200":
          description: Quota padrão definida
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

    put:
      tags: [OCC]
      summary: Definir quota padrão da instância (OCC passthrough)
      description: |
        Delega `occ-exec config:app:set files default_quota --value <valor>`.

        **Upstream atual (ISSUE-016):** `config:app:set` está fora da allowlist —
        resposta esperada **403** `occ_subcmd_not_allowed` (exit 16).
      parameters:
        - $ref: "#/components/parameters/customer"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QuotaRequest"
      responses:
        "200":
          description: Quota padrão definida (quando upstream permitir o subcmd)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/OccSubcmdNotAllowed"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "503":
          $ref: "#/components/responses/ClusterUnreachable"
        "504":
          description: Timeout SSH (occ_timeout)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: occ_timeout

  /customers/{customer}/occ/quota/options:
    get:
      tags: [OCC]
      summary: Obter opções de quota (OCC)
      parameters:
        - $ref: "#/components/parameters/customer"
      responses:
        "200":
          description: Opções de quota
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          options:
                            type: string
                            example: "1 GB, 5 GB, 10 GB, 50 GB, none"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    post:
      tags: [OCC]
      summary: Definir opções de quota (OCC)
      parameters:
        - $ref: "#/components/parameters/customer"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [options]
              properties:
                options:
                  type: string
                  maxLength: 512
                  description: Opções de quota (string, até 512 caracteres).
                  example: "1 GB, 5 GB, 10 GB, 50 GB"
      responses:
        "200":
          description: Opções de quota definidas
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /customers/{customer}/occ/quota/audit:
    get:
      tags: [OCC]
      summary: Auditoria de quotas (OCC)
      description: Retorna lista de usuários com quota, displayName e e-mail.
      parameters:
        - $ref: "#/components/parameters/customer"
      responses:
        "200":
          description: Relatório de auditoria
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            username:
                              type: string
                            quota:
                              type: string
                            displayName:
                              type: string
                            email:
                              type: string
                              format: email
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /customers/{customer}/occ/groups/{groupName}/quota:
    post:
      tags: [OCC]
      summary: Definir quota para membros do grupo (OCC)
      description: Aplica a quota a todos os membros do grupo. A resposta inclui `data.updated` por usuário.
      parameters:
        - $ref: "#/components/parameters/customer"
        - name: groupName
          in: path
          required: true
          schema:
            type: string
            example: financeiro
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QuotaRequest"
      responses:
        "200":
          description: Quota aplicada ao grupo
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

# ============================================================
# COMPONENTS
# ============================================================
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  # ---------- Parameters ----------
  parameters:
    customer:
      name: customer
      in: path
      required: true
      description: |
        Identificador único da instância Nextcloud (slug).
        Aceita apenas letras minúsculas, dígitos e hífen (`-`); underscore (`_`) é rejeitado com 422.
        Alinhado com o contrato CLI do `nextcloud-saas-manager` (`^[a-z0-9-]+$`, max 64 chars).
      schema:
        type: string
        pattern: "^[a-z0-9-]+$"
        minLength: 3
        maxLength: 64
        example: empresaabc

    username:
      name: username
      in: path
      required: true
      schema:
        type: string
        example: joao.silva

    group:
      name: group
      in: path
      required: true
      schema:
        type: string
        example: financeiro

    jobId:
      name: id
      in: path
      required: true
      schema:
        type: integer
        example: 42

  # ---------- Responses ----------
  responses:
    JobAccepted:
      description: Job enfileirado com sucesso (processamento assíncrono)
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/SuccessResponse"
              - type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Job"

    Unauthorized:
      description: Token ausente ou inválido (401)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    NotFound:
      description: Recurso não encontrado (404)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    UnprocessableEntity:
      description: Validação falhou (422)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    NotImplementedYet:
      description: |
        Funcionalidade documentada no contrato porém ainda não entregue pelo
        upstream `nextcloud-saas-manager`. Esperado enquanto sprints D3/D4 do
        repositório `mework360-deployer-scripts` não publicarem os verbs.
      content:
        application/json:
          schema:
            type: object
            required: [error, reason, cmd]
            properties:
              error:
                type: string
                enum: [not_implemented_yet]
                example: not_implemented_yet
              reason:
                type: string
                example: "group_membership_add not implemented upstream (mework360-deployer-scripts D3/D4 pending)"
              cmd:
                type: string
                description: Canonical cmd that hit the BlockedOnUpstreamException branch.
                example: groups:add

    OccSubcmdNotAllowed:
      description: |
        Subcomando OCC requisitado está fora da allowlist do wrapper
        `nextcloud-manage <slug> occ-exec` no upstream (SSH exit 16).
        Endpoints mutativos afetados: quota default/user, branding, maintenance.
        Ver ISSUE-011 / ISSUE-016.
      content:
        application/json:
          schema:
            type: object
            required: [error, detail, subcmd, exit_code]
            properties:
              error:
                type: string
                enum: [occ_subcmd_not_allowed]
                example: occ_subcmd_not_allowed
              detail:
                type: string
                example: 'Subcmd "user:setting" não está na allowlist do nextcloud-saas-manager occ-exec (exit 16). Ver docs/ISSUES.md ISSUE-011.'
              subcmd:
                type: string
                example: user:setting
              exit_code:
                type: integer
                example: 16

    OccSubcmdNotSupported:
      description: |
        Operação OCC documentada porém não suportada pelo upstream atual —
        short-circuit local antes de SSH (HTTP 501). Ex.: quota bulk `--all`.
        Ver ISSUE-011 / ISSUE-016.
      content:
        application/json:
          schema:
            type: object
            required: [error, detail]
            properties:
              error:
                type: string
                enum: [occ_subcmd_not_supported]
                example: occ_subcmd_not_supported
              detail:
                type: string
                example: 'user:setting --all não é suportado pelo upstream nextcloud-saas-manager. Subcmd está fora da allowlist de occ-exec; aplique a quota usuário-a-usuário via PUT /customers/{slug}/occ/quota/{username}. Ver docs/ISSUES.md ISSUE-011.'

    ClusterUnreachable:
      description: Cluster offline ou SSH inacessível (503)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    TenantNotReady:
      description: |
        Tenant ainda em provisionamento ou finalização pós-provision. Operações
        `users:create` e `users:delete` são rejeitadas até probe de readiness
        (`occ-exec user:list`) promover o customer para `active`. Retry após o
        intervalo indicado em `Retry-After` (segundos).
      headers:
        Retry-After:
          schema:
            type: integer
            example: 60
          description: Segundos sugeridos antes de nova tentativa.
      content:
        application/json:
          schema:
            type: object
            required: [error, status]
            properties:
              error:
                type: string
                enum: [tenant_not_ready]
                example: tenant_not_ready
              status:
                type: string
                enum: [provisioning, provisioning_finishing]
                example: provisioning_finishing

  # ---------- Schemas ----------
  schemas:
    JobStatus:
      type: string
      enum: [pending, running, done, failed, cancelled]

    Job:
      type: object
      properties:
        id:
          type: integer
          example: 42
        job_type:
          type: string
          example: create-customer
        customer:
          type: string
          example: empresaabc
        status:
          $ref: "#/components/schemas/JobStatus"
        payload:
          type: object
          description: Parâmetros do job (varia por tipo).
        output:
          type: string
          nullable: true
          description: Saída do processo quando concluído.
        created_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
          nullable: true
        finished_at:
          type: string
          format: date-time
          nullable: true

    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Success"
        data:
          type: object

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
        errors:
          type: object
          description: Mapa de campos com mensagens de erro (respostas 422).
          additionalProperties:
            type: string

    ApiInfo:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
        data:
          type: object
          properties:
            name:
              type: string
              example: Nextcloud Deployer API
            version:
              type: string
              example: "1.0"
            endpoints:
              type: object
              additionalProperties:
                type: string

    HealthResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: Success
        data:
          type: object
          properties:
            status:
              type: string
              enum: [healthy, degraded]
            database:
              type: string
              enum: [ok, error]
            scripts:
              type: string
              enum: [ok, missing]
            timestamp:
              type: string
              format: date-time
              description: ISO-8601

    # ------ Request bodies ------

    CreateCustomerRequest:
      type: object
      required: [customer, server]
      properties:
        customer:
          type: string
          description: |
            Slug do customer. Apenas letras minúsculas, dígitos e hífen; underscore (`_`) é rejeitado com 422.
            Padrão `^[a-z0-9-]+$`, 3–64 caracteres. Alinhado com o contrato CLI do `nextcloud-saas-manager`.
          pattern: "^[a-z0-9-]+$"
          minLength: 3
          maxLength: 64
          example: empresaabc
        server:
          type: string
          description: IP do cluster de destino. Validação atual aceita apenas dígitos e pontos (`^[\d.]+$`).
          pattern: "^[\\d.]+$"
          example: "172.17.0.2"
        full_apps:
          type: boolean
          description: Instala o conjunto completo de apps. Mutuamente exclusivo com `apps`.
          default: false
        apps:
          type: array
          description: |
            Lista de apps a instalar. Mutuamente exclusivo com `full_apps`.
            Valores aceitos: `spreed`, `richdocuments`, `calendar`, `contacts`, `mail`, `deck`, `unroundedcorners`.
          items:
            type: string
            enum:
              [
                spreed,
                richdocuments,
                calendar,
                contacts,
                mail,
                deck,
                unroundedcorners,
              ]
          example: [calendar, contacts, spreed]
        logo_png_base64:
          type: string
          description: |
            Logo para theming enviado no **mesmo** POST. Aceita data URL
            `data:image/png;base64,...` ou `data:image/jpeg;base64,...` (ou só o base64).
            O worker grava em `/mnt/deployer/tmp/` e executa `create-customer --logo-path …`
            para `occ theming:config logo`. Tamanho máximo ~5 MB decodificado.
            Requer que a coluna `job_queue.payload` seja **MEDIUMTEXT** ou maior.
          example: "data:image/png;base64,iVBORw0KGgo..."

    CreateUserRequest:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
          description: Slug do usuário, 2–64 caracteres.
          minLength: 2
          maxLength: 64
          example: joao.silva
        password:
          type: string
          format: password
          description: Senha do usuário, 6–256 caracteres.
          minLength: 6
          maxLength: 256
          example: "S3cr3tP@ss!"
        display_name:
          type: string
          description: Nome de exibição do usuário no Nextcloud (upstream `--payload-stdin`).
          example: "João Silva"
        displayname:
          type: string
          deprecated: true
          description: Alias legado de `display_name` (preferir snake_case).
          example: "João Silva"
        email:
          type: string
          format: email
          example: joao@empresa.com.br
        quota:
          type: string
          description: "Quota no formato upstream: `5GB`, `5 GB`, `none`, `default` ou `unlimited`."
          example: "5GB"
        groups:
          type: array
          items:
            type: string
          example: [financeiro, diretoria]
        subadmin_groups:
          type: array
          description: Grupos dos quais o usuário será subadmin (upstream `--payload-stdin`).
          items:
            type: string
        subadmin:
          type: array
          deprecated: true
          description: Alias legado de `subadmin_groups`.
          items:
            type: string

    ModifyUserRequest:
      type: object
      minProperties: 1
      description: Pelo menos um campo deve ser informado.
      properties:
        password:
          type: string
          format: password
        displayname:
          type: string
        email:
          type: string
          format: email
        quota:
          type: string
          example: "10 GB"
        add_groups:
          type: array
          items:
            type: string
        remove_groups:
          type: array
          items:
            type: string
        subadmin:
          type: array
          items:
            type: string
        remove_subadmin:
          type: array
          items:
            type: string
        enable:
          type: boolean
          description: Reativa o usuário desabilitado.
        disable:
          type: boolean
          description: Desabilita o usuário.
        resend_welcome:
          type: boolean
          description: Reenvia o e-mail de boas-vindas.

    CreateGroupRequest:
      type: object
      required: [group]
      properties:
        group:
          type: string
          description: Nome do grupo, 2–64 caracteres.
          minLength: 2
          maxLength: 64
          example: financeiro

    ModifyGroupRequest:
      type: object
      properties:
        rename:
          type: string
          description: Novo nome do grupo.
          example: financeiro_v2
        info:
          type: boolean
          description: Retorna informações do grupo (ação de informação).

    AppOperationRequest:
      type: object
      required: [apps]
      properties:
        apps:
          type: array
          description: Array não vazio de IDs/nomes de app.
          minItems: 1
          items:
            type: string
          example: [richdocuments, calendar]

    BrandingRequest:
      type: object
      description: Todos os campos são opcionais; apenas os presentes e não vazios são aplicados.
      properties:
        instanceName:
          type: string
          description: Nome da instância — `config:system:set instance_name`.
          example: "Empresa ABC Cloud"
        color:
          type: string
          description: Cor primária em hex — `config:app:set theming color`.
          pattern: "^#[0-9a-fA-F]{6}$"
          example: "#00679e"
        logo:
          type: string
          description: URL ou caminho absoluto do logo no servidor — `theming:config logo`.
          example: "/mnt/customer/empresaabc/logo.png"
        logoHeader:
          type: string
          description: URL ou caminho absoluto do logo do cabeçalho — `theming:config logoheader`.
        background:
          type: string
          description: URL ou caminho absoluto do background — `theming:config background`.
        imprintUrl:
          type: string
          format: uri
          description: URL do aviso legal — `config:app:set theming imprintUrl`.
          example: "https://empresa.com.br/legal"
        privacyUrl:
          type: string
          format: uri
          description: URL da política de privacidade — `config:app:set theming privacyUrl`.
          example: "https://empresa.com.br/privacidade"

    OccCreateUserRequest:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
          example: maria.souza
        password:
          type: string
          format: password
        displayName:
          type: string
          example: "Maria Souza"
        email:
          type: string
          format: email
          example: maria@empresa.com.br

    OccCreateGroupRequest:
      type: object
      required: [groupName]
      properties:
        groupName:
          type: string
          example: rh

    QuotaRequest:
      type: object
      required: [quota]
      properties:
        quota:
          type: string
          description: "Quota no formato Nextcloud (ex: `5 GB`, `10 GB`, `none`, `unlimited`)."
          example: "5 GB"
